<!DOCTYPE html>
<html>
<head>
	<title>EJS File (Azure Test)</title>
	<link rel="stylesheet" href="/Style.css">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Shrikhand&display=swap" rel="stylesheet"> 
</head>
<body>
<div class="container">

	<div id="searchPage">

		<div id="searchContainer">

				<h1 id="title">JobQuery</h1>

				<form id="MainForm" action="/home" method="post">
			            <input class="searchField padd" type="text" id="job" name="job" placeholder="Job Title" />

			            <!--label for="major">Major</label>
						<select id="SelectMajor" name="major">
							
						</select-->

						<input class="searchField padd" type="text" id="location" name="location" placeholder="Location">

						<select class="searchField" id="radius" name="radius">
							  <option value="" disabled selected>Radius</option>
							  <option class="select" value="50">50</option>
							  <option class="select" value="100">100</option>
							  <option class="select" value="200">200</option>
							  <option class="select" value="500">500</option>
						</select>

			    </form>
			    <button id="submit" class="searchField">Submit</button>
		</div><!--searchcontainer-->

	</div><!--searchpage-->

</div><!--container-->

<script type="text/javascript" src="/Javascript.js"></script>
</body>
</html>