<!DOCTYPE html>
<html>
<head>
	<title>EJS File</title>
	<link rel="stylesheet" href="/Style.css">
</head>
<body>
	<div><!--TEST-->

		<h1>Test EJS Page</h1>
		<br>
		<p>Result <%=item %></p>

		<form>
		  First name:
		  <br>
		  <input type="text" name="firstname">
		  <br>
		  Last name:<br><input type="text" name="lastname">
		</form>

		<button>Submit</button>
	</div>
</body>
</html>