<!DOCTYPE html>
<html>
<head>
	<title>EJS File (Azure Results)</title>
	<link rel="stylesheet" href="/ResultStyle.css">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Shrikhand&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="container">

		<h1 id="title">JobQuery</h1><br>
		<h2 id="query">Software Engineer Jobs</h2>

		<div id="resultsContainter">

			<div id="jobs" class="box">
				<h1>76k</h1>
				<span>Jobs</span>
			</div>

			<div id="salary" class="box">
				Average Salary
			</div>

			<div id="graph" class="box">
				graph
			</div>

		</div>
	</div>
<script type="text/javascript" src="/Javascript.js"></script>
</body>
</html>