<!DOCTYPE html>
<html>
<head>
	<title>EJS File (Azure Results)</title>
	<link rel="stylesheet" href="/Style.css">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Shrikhand&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="container">
		test
	</div>
<script type="text/javascript" src="/Javascript.js"></script>
</body>
</html>