/*******************
GLOBAL
*******************/
.padd{
	padding-left:10px;
}
.
.select{
	color:grey;
}

.rotate {
  animation: rotation 10s infinite linear;
}
	@keyframes rotation {
	  from {
	    transform: rotate(0deg);
	  }
	  to {
	    transform: rotate(360deg);
	  }
	}

.fade{
	animation: fade 1s forwards ease-in-out;
}
	@keyframes fade {
	    0% {
	        opacity: 1;
	        transform: translateY(0px);
	    }
	    100% {
	        opacity: 0;
	        transform: translateY(-200px);
	    }
	}

/*******************
DESKTOP
*******************/
*{
	padding:0;
	margin:0;
}
.container{
	width:100vw;
	height:100vh;
	background-image: linear-gradient(to bottom right, #c91475, #f7f420);
	overflow: hidden;
}
		#searchPage{
			z-index: 2;/*On top of empty results page*/
			width:100vw;
			height:100vh;
			/*background: rgba(0,0,0,0.5);TEST*/
			display:grid;
			align-content: center;
			justify-content: center;
		}
			#cog{
				position: fixed;
				width:500px;
				height:500px;
				bottom:-250px;
				left:-250px;
			}
			#searchContainer{
				box-sizing: border-box;
				padding:20pt;
				min-height:500px;
				min-width:800px;
				/*background: rgba(255,0,0,0.3); TEST*/
			}
				#title{
					font-family: 'Shrikhand', cursive;
					color:white;
					font-size: 50pt;
				}
				#MainForm{
					position: relative;
					/*background-color:green; TEST */
					min-height:300px;
				}
				.searchField{
					border:none;
					background: rgba(255,255,255,0.3);
					box-sizing: border-box;
					width:100%;
					height:30pt;
					margin-top:20pt;

					font-family: arial;
					font-weight: ;
					color:white;
					font-size: 15pt;
				}
					::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  						color: white;
	  						opacity: .5;
					}
					#submit{
						background: rgba(255,255,255,0.5);
					}